.grid-contenedor{
display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(9,  1fr);
background-color: aqua; 
margin: 0;
}
.header{
background-color: rgb(8,15,40); 
grid-column:col / span 9;
align-items: center;
}
.logo{
  width: 100px;
  margin-bottom: 20px;
}
.navegacion{
  display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(3,  1fr);
margin: 10px;
grid-gap: 100px;
}
.navegacion a:link{
  text-decoration: none;
  color: white;
  padding: 2px 1px 0;
}
.navegacion a:visited{
  
  color: rgb(17, 17, 185);
}
.navegacion a:focus{
  border-bottom: 1px solid;
  background: rgb(17, 17, 119);
}
.navegacion a:hover{
  border-bottom: 1px solid;
  background: rgb(30,39,71);
}
.navegacion a:active{
  border-bottom: 1px solid;
  background: rgb(30,39,71);
}
/*modificacion del apartado peliculas*/
.pelis{
background-color: aqua;
grid-column:col / span 9;
}
.pelis header{
background-color: rgb(124, 124, 194);
}
.pelis article{
background-color: brown;
}
.listado_pelis{
  display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(6,  1fr);
margin: 10px;
grid-gap: 10px;
}
/*modificacion del apartado actores*/
.actor{
background-color: blue;
grid-column:col / span 9;
}
.actor header{
  text-align: center;
}
.listado_actores{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8,  1fr);
}
/*modificacion del apartado festivales*/
.side-var{
  background-color: cornflowerblue;
  grid-column:col / span 1;
  }
.listado_festivales{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1,  1fr;
}

/*modificacion del apartado series*/
.series{
background-color: bisque;
grid-column:col 2/ span 8;
}
.listado_series{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4,  1fr);
}
/*modificacion del apartado vistos*/
.vistos{
background-color: deeppink;
grid-column:col / span 9;
grid-row:auto;
}
.listado_vistos{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(9,  1fr);
}
.footer{
background-color: rgb(88, 4, 49);
grid-column:col / span 9;
grid-row:auto;
}
.grid-item{
display: flex;
flex-direction: column;
}
/*hola*/